*{
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Times New Roman';
    background-color: rgb(194, 186, 186);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
}

nav a{
        margin: 0 2rem; 
}

main{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzgA8PVcvOV60jVYgoasNOCv9p5nQJ1FOH6Ud9mbnH4xqd1INHSVqmY7pq5LrsseOVcxn42mFMyvb2nnHZYJd7qqE-bOdsYbxamH4LRaYVOA&s=10);
}